{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon: rose icon -->
<link rel="icon" type="image/jpeg" href="{{ base_path }}/images/rose_icon.jpg" sizes="any"/>
<link rel="apple-touch-icon" href="{{ base_path }}/images/rose_icon.jpg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="shortcut icon" href="{{ base_path }}/images/rose_icon.jpg"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
